.container{
    height: 90vh;
    width: 90vw;
    background-color: azure;
    border: 1px solid rebeccapurple;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;
    grid-gap: 4px;
    grid-template-areas: 
    "hd hd" 
    "side main"
    "ft ft";
}

.box{
    background-color: bisque;
    border: 1px solid brown;
    text-align: center;
    color: darkcyan;
    font-size: 1.5rem;
}

#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#container{
    grid-area: main;
}
#sidebar{
    grid-area: side;
}
